/* start variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --light-color: #f6f6f6;
  --text-color: #9f9f9f;
}
/* end variables */

/* start global roles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container,
.wide-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.wide-container {
  padding: 0;
  width: 100%;
  max-width: 100%;
}

/* small */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

/* medium */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

::selection {
  background-color: var(--main-color);
  color: var(--secondary-color);
}
/* end global roles */

/* start components */
.heading-text {
  padding: 20px 0;
  margin-bottom: 10px;
}

.heading-text .special-heading {
  text-align: center;
  margin: 0;
  font-size: 120px;
  color: var(--light-color);
  font-weight: 800;
  margin-bottom: -40px;
  letter-spacing: -5px;
}

.heading-text .special-heading + p {
  text-align: center;
  font-size: 20px;
  color: var(--secondary-color);
  margin-top: -20px;
}

/* end components */

/* start header */
.header {
  position: relative;
  z-index: 1;
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 60px;
}

.header .links {
  position: relative;
}

.header .links:hover {
  cursor: pointer;
}

.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}

.header .links:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.header .links:hover .icon span {
  background-color: var(--main-color);
}

.header .links .icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 30px;
  margin-left: auto;
}

.header .links .icon span {
  height: 2px;
  background-color: var(--secondary-color);
  margin-bottom: 5px;
}

.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 70%;
  transition: 0.3s;
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  /* display: none; */
  position: absolute;
  right: 0;
  top: calc(100% + 20px);
  list-style: none;
  background-color: var(--main-color);
  margin: 0;
  padding: 0;
  min-width: 200px;
  transition: 0.3s;
  z-index: 2;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s, transform 0.3s;
}

.header .links ul:before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--main-color) transparent;
  position: absolute;
  top: -20px;
  right: 5px;
}

.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid var(--light-color);
}

.header .links ul li a {
  display: block;
  text-decoration: none;
  padding: 15px 15px 15px 35px;
  color: var(--secondary-color);
  transition: 0.3s;
}

.header .links ul li a:hover {
  padding-left: 45px;
}
/* end header */

/* start landing */
.landing {
  position: relative;
  align-items: center;
  background-image: url("../img/landing.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  top: -65px;
  margin-bottom: -65px;
}

.landing .intro-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  margin: 0 auto;
  /* padding-top: 60px; */
  width: 350px;
  max-width: 100%;
  text-align: center;
}

.landing .intro-text h2 {
  margin: 0;
  font-size: 35px;
  font-weight: 900;
  color: var(--main-color);
  margin-bottom: 20px;
}

.landing .intro-text p {
  font-size: 17px;
  margin: 0 auto;
  line-height: 1.5;
  color: var(--secondary-color);
}
/* end landing */

/* start features */
.features {
  margin-bottom: 20px;
}

.features .wide-container {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-gap: 20px; */
}
/* medium */
@media (min-width: 992px) and (max-width: 1199px) {
  .features .wide-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* large */
@media (min-width: 1200px) {
  .features .wide-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.features .feature {
  text-align: center;
  padding: 80px;
  padding-bottom: 40px;
}

.features .feature:nth-child(2) {
  box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.1);
}
/* medium */
@media (min-width: 992px) and (max-width: 1199px) {
  .features .feature:nth-child(2) {
    box-shadow: none;
  }
}

.features .feature i {
  font-size: 50px;
  color: var(--main-color);
  margin-bottom: 30px;
}

.features .feature h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 800;
  color: var(--secondary-color);
  margin-bottom: 15px;
}

.features .feature p {
  font-size: 15px;
  line-height: 1.5;
  color: var(--text-color);
}
/* end features */

/* start services */
.services {
  margin: 35px 0 70px;
}

.services .services-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  padding: 70px 0;
}

/* large */
@media (max-width: 992px) {
  .services .services-content {
    padding: 0;
  }
}

/* medium */
@media (min-width: 992px) and (max-width: 1199px) {
  .services .services-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* large */
@media (min-width: 1200px) {
  .services .services-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.services .services-content .col {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.services .services-content .col:not(:last-child) {
  margin-right: 10px;
}

.services .services-content .col .service {
  display: flex;
  margin-bottom: 40px;
}

/* small */
@media (max-width: 992px) {
  .services .services-content .col .service {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px 60px;
    margin-bottom: 0;
  }
}

.services .services-content .col .service i {
  font-size: 40px;
  color: var(--main-color);
  margin-bottom: 10px;
  flex-basis: 60px;
  margin-right: 15px;
}

.services .services-content .col .service .service-text {
  flex: 1;
}

.services .services-content .col .service .service-text h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 800;
  color: var(--secondary-color);
}

.services .services-content .col .service .service-text p {
  font-size: 15px;
  line-height: 1.5;
  color: var(--text-color);
}

.services .services-content .image {
  text-align: center;
  position: relative;
}

/* small & medium */
@media (max-width: 1200px) {
  .services {
    margin: 0;
  }
  .services .services-content .col {
    margin: 0;
  }
  .services .services-content .col:last-child {
    display: none;
  }
}

.services .services-content .image::before {
  content: "";
  position: absolute;
  width: 80px;
  background: var(--secondary-color);
  height: calc(100% + 100px);
  top: -50px;
  right: -40px;
  z-index: -1;
}

.services .services-content .image img {
  width: 260px;
}
/* end services */
